<div data-bs-spy="scroll" data-bs-target=".nav" data-bs-smooth-scroll="true" tabindex="0">
  <div class="container-fluid">
    <div class="row">
      <div id="home">
        <app-home />
      </div>
    </div>
    <div class="row">
      <div id="experience">
        <h2 class="mt-5">Experience & Education</h2>
        <hr class="mx-1" />
        <app-experience-and-education></app-experience-and-education>
      </div>
    </div>
    <div class="row">
      <div id="awards">
        <h2 class="mt-5">Awards & Certifications</h2>
        <hr class="mx-1" />
        <app-awards-and-certifications></app-awards-and-certifications>
      </div>
    </div>

    <div class="row">
      <div id="contact">
        <h2 class="mt-5" id="contact">Contact me</h2>
        <hr class="mx-1" />
        <app-contact-me></app-contact-me>
      </div>
    </div>
  </div>
</div>