<div>
  <h2 class="mt-5">Academic Award</h2>
  <hr />
  <p>In my academic journey, I had the privilege of participating in intraschool competitions where I showcased my
    skills and earned runner-up awards. </p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h5>Software Development 2 2nd Runner Up</h5>
      <p>Software development competition in .NET development between 3rd & 4th year students</p>
      <p>Year: 2017</p>
    </li>
    <li class="list-group-item">
      <h5>2nd Runner Up IT Wizard Competition
      </h5>
      <p>Quiz bown competition regarding different technologies and hardwares.</p>
      <p>Year: 2013</p>
    </li>
  </ul>
</div>