<div class="container-fluid">
  <p>
    Prior to starting my career as a software developer, I have previously worked as a Customer Service and
    Technical Support Representative.
  </p>
  <p>
    For some this experience might be much relevant in the field of software devepment, but for me it is a
    great advantage and an experience that helped me grow as a developer.
  </p>
  <p>
    This experience gave me first hand experience, perspective, and understanding of the difference between enterprise
    level-systems as well as consumer application user and which UX design is best depending on the usage.
  </p>
  <p>
    It made me realize that a heavily UI-driven system is not always the best solution for enterprise users. When a
    trained user needs to quickly process something, using keyboard shortcuts may be more beneficial and efficient than
    using the mouse, making a quicker backend response more important than a flashy UI.
  </p>
  <p>
    As for the consumer application, a more user friendly and UI driven system is more important, as the user may not be
    familiar with the application. And especially if the user is not a tech-savvy person, having a more user friendly UI
    with icons that can easily be described when they need to call for help is more preferred.
  </p>

  <h5 class="mt-4 mb-3">Experience</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>Customer Service</strong> at SupportSave Solutions, Inc (Nov 2014 - Jan 2015)
    </li>
    <li class="list-group-item">
      <strong>Technical Support</strong> at Teleperformance (July 2019 - October 2019)
    </li>
    <li class="list-group-item">
      <strong>Customer Service</strong> at Concentrix (December 2019 - November 2020)
    </li>
  </ul>
</div>