<div class="container-fluid">
  <div class="d-flex flex-column gap-1 align-items-start">
    <!-- First Section -->
    <a class="btn btn-link text-decoration-none text-reset d-flex align-items-center" data-bs-toggle="collapse"
      href="#priorToDevelopment" role="button" aria-expanded="true" aria-controls="priorToDevelopment"
      (click)="toggleSection('priorToDevelopment')">
      <h3 class="text-start me-2">As Customer Service & Technical Support Representative</h3>
      <i class="bi" [ngClass]="{'bi-chevron-down': isExpanded('priorToDevelopment'), 'bi-chevron-right': !isExpanded('priorToDevelopment')}"></i>
    </a>
    <div class="collapse show ms-3" id="priorToDevelopment">
      <app-prior-to-development></app-prior-to-development>
    </div>

    <!-- Second Section -->
    <a class="btn btn-link text-decoration-none text-reset d-flex align-items-center mt-5" data-bs-toggle="collapse"
      href="#asDeveloper" role="button" aria-expanded="true" aria-controls="asDeveloper"
      (click)="toggleSection('asDeveloper')">
      <h3 class="text-start me-2">As Software Developer</h3>
      <i class="bi" [ngClass]="{'bi-chevron-down': isExpanded('asDeveloper'), 'bi-chevron-right': !isExpanded('asDeveloper')}"></i>
    </a>
    <div class="collapse show ms-3" id="asDeveloper">
      <app-as-developer></app-as-developer>
    </div>
  </div>
</div>