<div class="container-fluid">
  <div class="d-flex flex-column gap-1 align-items-start">
    <a class="btn btn-link text-decoration-none text-reset" data-bs-toggle="collapse" href="#priorToDevelopment"
      role="button" aria-expanded="false" aria-controls="priorToDevelopment">
      <h3 class="text-start">As Customer Service & Technical Support Representative</h3>
    </a>
    <div class="collapse show ms-3" id="priorToDevelopment">
      <div class="card card-body">
        <app-prior-to-development></app-prior-to-development>
      </div>
    </div>
    <a class="btn btn-link text-decoration-none text-reset mt-5" data-bs-toggle="collapse" href="#asDeveloper"
      role="button" aria-expanded="false" aria-controls="asDeveloper">
      <h3 class="text-start">As Software Developer</h3>
    </a>
    <div class="collapse show ms-3" id="asDeveloper">
      <div class="card card-body">
        <app-as-developer></app-as-developer>
      </div>
    </div>
  </div>
</div>