<div class="container-fluid">
  <p>
    I gained various experience as a developer from my on the job training (OJT), freelance experience, and present work as an <strong>Application Systems Engineer</strong>
  </p>
  <p>
    The first technology I learned was <strong>.NET (C#)</strong> from college which I continued to learn and use in my OJT and freelance work. During my OJT, I was also fortunate to learn how to handle a team after I was assigned as a <strong>Team Lead</strong> for all OJT members and was responsible for the plotting of tasks, schedules, and monitoring of the team's performance and attendance. I was also tasked in the creation of a seat management system which is used in monitoring which seat in the production floor is occupied, free or not available. This system is used by the IT department to monitor the availability of seats and this was a <strong>desktop application developed using .NET technology.</strong>
  </p>
  <p>
    In my freelance work, I was able to develop an Inventory Maanagement System which was used by a local company to monitor the inventory of their products in realtime and generate reports accordingly. The application side was developed using <strong>WPF</strong> and it connects to the API developed using <strong>.NET Core API</strong> with <strong>Entity Framework and MS SQL Server</strong>.
  </p>
  <p>
    At present, I am working as an <strong>Application Systems Engineer</strong> where I am involved in the entire software development cycle from planning to deployment depending on the project requirement. Technologies involved varies depending on the project making me versatile and adaptable to what technology the project may need.
  </p>
  <p>
    I was also fortunate to work in Japan for 2 years where I was able to learn and adapt to the Japanese culture, work ethics and technologies. I was able to work with a diverse team of developers and learned how to collaborate efficiently regardless of the difference in culture and language.
  </p>

  <h5 class="mt-4 mb-3">Experience</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>Application Systems Engineer</strong> at Fujitsu Philippines, Inc (January 2025 - Present)
    </li>
    <li class="list-group-item">
      <strong>Application Systems Engineer</strong> at Fujitsu Japan (January 2023 - January 2025)
    </li>
    <li class="list-group-item">
      <strong>Application Systems Engineer</strong> at Fujitsu Philippines, Inc (August 2021 - January 2023)
    </li>
    <li class="list-group-item">
      <strong>Freelance Software Developer</strong> (May 2019 - July 2019)
    </li>
    <li class="list-group-item">
      <strong>IT Assistant</strong> at Insular Life (January 2019 - February 2019)
    </li>
    <li class="list-group-item">
      <strong>IT Assitant & OJT Team Lead</strong> at E Telecare Services (November 2018 - January 2019)
    </li>
  </ul>
</div>