<div class="container d-flex justify-content-center align-items-center vh-100 text-center">
    <div>
        <h1 class="mb-4">Hi 👋! I'm Earl!</h1>
        <h4 class="mb-3">I'm a passionate full-stack developer who thrives on building innovative solutions with .NET and JavaScript technologies.</h4>
        <h4 class="mb-3">Based in the Philippines, I bring over 4 years of experience collaborating with diverse teams and clients, including 2 exciting years working in Japan.</h4>
        <h4 class="mb-3">I’m eager to join a results-driven team that values camaraderie, collaboration, and mutual growth—where we can create amazing things together, even in a remote setup!</h4>
    </div>
</div>